[submodule "resistance__api"]
	path = resistance__api
	url = https://github.com/burunyuu23/resistance__api.git
[submodule "matrix__api"]
	path = matrix__api
	url = https://github.com/burunyuu23/matrix__api.git
