[submodule "matrix_api"]
	path = matrix_api
	url = https://github.com/burunyuu23/matrix__api.git
[submodule "resistance_api"]
	path = resistance_api
	url = https://github.com/burunyuu23/resistance__api.git